<?xml version="1.0" encoding="utf-8"?>
<Domain Key="187bb00c-0000-0000-0000-000000000000" Alias="csp-test.localhost:44370">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="cac22a44-2b20-4876-8b99-d56ad6420a0f">/Homepage</Root>
    <SortOrder>2</SortOrder>
  </Info>
</Domain>